/*W*/

/* Variables declaration */
:root {
    --mainRed: rgb(130, 20, 20); /* #821414 */
    --secRed: rgb(170, 80, 80); /* #AA5050 */
    /*red, yellow, white, silver, black*/
}

/***** Start of Styling *****/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/***** Start of navbar *****/
.navbar {
    background-color: var(--mainRed);
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    background: -webkit-linear-gradient(yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2em;
    z-index: 99999;
}

.navbar-icon {
    margin-right: 0.5rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 40px;
}

.navbar-link {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-link.active {
     background: -webkit-linear-gradient(yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navbar-link:hover {
    background: -webkit-linear-gradient(yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--secRed);
    color: white;
}

.button:hover {
    background: white;
    color: black;
    transition: all 0.5s ease;
} /***** End of navbar *****/

/***** Start of body *****/

.main {
    background-color: var(--mainRed);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--mainRed);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main-content h1 {
    font-size: 4em;
    background: -webkit-linear-gradient(yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.main-content h2 {
    font-size: 3em;
    background: -webkit-linear-gradient(white, silver);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.main-content p {
    background: -webkit-linear-gradient(white, silver);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-top: 1rem;
    font-size: 1.5em;
    font-weight: 700;
}

.main-btn {
    font-size: 2em;
    background: var(--secRed);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main-btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.main-btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: -webkit-linear-gradient(yellow, red);
    transition: all 0.35s;
    border-radius: 4px;
}

.main-btn:hover {
    color: white;
}

.main-btn:hover:after {
    width: 100%;
}

.main-img-container {
    text-align: center;
}

#main-img {
    height: 100%;
    width: 100%;
}

/***** End of body *****/

/***** Start of responsiveness section *****/

/***** SM and smaller devices *****/
@media screen and (max-width: 575px) {
    .main-content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    
    .main-content h2 {
        font-size: 2rem;
    }
    
    .main-content p {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .main-btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
} /***** End of SM and smaller devices *****/

/***** MD and smaller devices *****/
@media screen and (max-width: 767px) {

    /***** Start of resp. navbar *****/
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar-menu.active {
        background: var(--mainRed);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 40vh;
        font-size: 1.6em;
    }
    
    #navbar-logo {
        padding-left: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-link {
        font-size: 1.2em;
        text-align: center;
        padding: 0, 2rem, 2rem, 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-btn {
        padding-bottom: 2rem;
    }

    .button {
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 80px;
        margin: 0;
    }

    /* Navbar toggle */
    .navbar-toggle {
        cursor: pointer;
    }

    .navbar-toggle .bar {
        display: block;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /***** End of resp. navbar *****/

/***** Start of resp. body *****/
.main-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90hv;
}
.main-content {
    text-align: center;
    margin-bottom: 4rem;
}

.main-content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
}

.main-content h2 {
    font-size: 2rem;
}

.main-content p {
    font-size: 1.5rem;
    margin-top: 1rem;
}
/***** End of resp. body *****/


} /***** End of MD and smaller devices *****/

/* Between MD and LG devices */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Between lg and xl devices */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Xl and larger devices */
@media (min-width: 1200px) {

}



/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/