* {
box-sizing: border-box;
}

body {
    background-color: rgb(130, 20, 20);
    color: white;
    font-size: 1.1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div>.navbar-brand { /* Header title */
    font-weight: 500;
}

li>.nav-link { /* Header links */
    font-size: 1.2em;
    font-weight: 400;   
}

div.container>div.row .col-12 {
    margin-bottom: 20px;
}

/* Between md and lg devices */
@media (min-width: 768px) and (max-width: 991px) {
    div div.carousel-caption>h5 {
        font-size: 1.4em;
    }
    div div.carousel-caption>p {
        font-size: 1.4em;
    }
}

/* Between lg and xl devices */
@media (min-width: 992px) and (max-width: 1199px) {
    div div.carousel-caption>h5 {
        font-size: 1.6em;
    }
    div div.carousel-caption>p {
        font-size: 1.6em;
    }

}

/* Between xl and wider devices */
@media (min-width: 1200px) {
    div div.carousel-caption>h5 {
        font-size: 1.8em;
    }
    div div.carousel-caption>p {
        font-size: 1.8em;
    }
}



/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/